<!-- Desktop Menu -->
<ul *ngIf="!isMobile" class="main-menu">
  <li *ngFor="let item of menu_data; let i = index"
    [ngClass]="{'has-dropdown': item.drop_down && !item.mega_menu, 'has-mega-menu': item.mega_menu}">

    <a [routerLink]="item.link">
      {{ item.title }}
    </a>

    <!-- existing desktop mega menus kept unchanged -->
    <div *ngIf="item.home_pages" class="home-menu tp-submenu tp-mega-menu">
      <!-- your old code stays -->
    </div>

    <div *ngIf="item.shop_mega_menus" class="shop-mega-menu tp-submenu tp-mega-menu">
      <!-- your old code stays -->
    </div>

    <ul *ngIf="item.product_menus" class="tp-submenu tp-mega-menu mega-menu-style-2">
      <li *ngFor="let prd_m of item.product_menus; let i = index" class="has-dropdown">
        <a [routerLink]="prd_m.link" class="mega-menu-title">
          {{ prd_m.title }}
        </a>
        <ul class="tp-submenu">
          <li *ngFor="let prd_sm of prd_m.dropdown_menus; let i = index">
            <a [routerLink]="prd_sm.link">{{ prd_sm.title }}</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul *ngIf="item.drop_down && !item.mega_menu" class="tp-submenu">
      <li *ngFor="let drop_m of item.dropdown_menus; let i = index">
        <a [routerLink]="drop_m.link">{{ drop_m.title }}</a>
      </li>
    </ul>
  </li>
</ul>

<!-- Mobile Menu (Myntra style) -->
<div *ngIf="isMobile" class="mobile-menu-wrapper">
  <!-- Tabs -->
  <ul class="mobile-tabs">
    <li *ngFor="let item of menu_data; let i = index" (click)="activeTab = item"
      [class.active]="activeTab?.id === item.id">
      {{ item.title }}
    </li>
  </ul>

  <!-- Subcategories -->
  <div class="mobile-submenu" *ngIf="activeTab">
    <div *ngFor="let prd of activeTab.product_menus" class="submenu-group">
      <h4>{{ prd.title }}</h4>
      <ul>
        <li *ngFor="let sm of prd.dropdown_menus">
          <a [routerLink]="sm.link">{{ sm.title }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>