<!-- header start -->
<app-fashion-header></app-fashion-header>
<!-- header end -->

<main>
    <!-- hero banner start -->
    <app-hero-banner-two></app-hero-banner-two>
    <!-- hero banner end -->

    <!-- fashion category start -->
    <app-fashion-category></app-fashion-category>
    <!-- fashion category end -->

    <!-- fashion popular product start -->
    <app-fashion-popular-products></app-fashion-popular-products>
    <!-- fashion popular product end -->

    <!-- fashion all products start -->
    <app-fashion-all-products></app-fashion-all-products>
    <!-- fashion all products end -->

    <!-- fashion featured product start -->
    <app-fashion-featured-products></app-fashion-featured-products>
    <!-- fashion featured product end -->

    <!-- fashion new trending product start -->
    <app-fashion-new-trending-items></app-fashion-new-trending-items>
    <!-- fashion new trending product end -->

    <!-- fashion best sell item start -->
    <app-fashion-best-sell-items></app-fashion-best-sell-items>
    <!-- fashion best sell item end -->

    <!-- fashion testimonial start -->
    <app-fashion-testimonial></app-fashion-testimonial>
    <!-- fashion testimonial end -->

    <!-- fashion blog area start -->
    <app-fashion-blog-area></app-fashion-blog-area>
    <!-- fashion blog area end -->

    <!-- feature area start -->
    <app-feature-two></app-feature-two>
    <!-- feature area end -->

    <!-- instagram area start -->
    <app-instagram-area-two></app-instagram-area-two>
    <!-- instagram area end -->
</main>

<!-- footer start -->
<app-footer-one [style_2]="true"></app-footer-one>
<!-- footer end -->