.shop-category-title {
  font-weight: 500;
  font-size: 13px;
  margin-right: 15px;
  text-transform: capitalize; 
  letter-spacing: 0.3px;
  color: #666;

  white-space: nowrap;   
  flex-shrink: 0;        
}

.tp-main-menu-content {
  display: flex;
  align-items: center;

  > app-menu-bar {
    flex-grow: 1;      
    min-width: 0;      
  }
}
